<html>
    <head>
        <title>
            AGT_rpg
        </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = '/css/style.css')}}">
    </head>
    <body>
        <div class="form">
            <img src="{{url_for('static',filename='/img/logo.png')}}">
            <div class="input">
                <div class="inputBox">
                    <a href="./username"><input type="submit" id="play" value="Play"></a>
                    <a href="#"><input type="submit" value="Option"></a>
                    <a href="#"><input type="submit" value="Character creation"></a>
                    <a href="#"><input type="submit" value="Help"></a>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>